.footer__column_content_copyright{
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  /*контент в колонке прижат к верху и низу, базис задает минимальную ширину колонки*/
}
