.footer__column-links{/*для двух навигационных колонок использован один класс ссылок, т. к. их поведение идентично*/
  margin: 20px 0 18px 0;
  padding: 0; /*сброшен унаследованный отступ*/
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  /*параметры текста*/
}
